{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container my-5">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.username) }}
        </div>
        <div class="form-group">
            {{ form_row(form.email) }}
        </div>
        <div class="form-group">
            {{ form_row(form.plainPassword.first) }}
        </div>
        <div class="form-group">
            {{ form_row(form.plainPassword.second) }}
        </div>
        <a href="/" class="btn btn-primary mr-3">Retour à l'accueil</a><button class="btn btn-primary" type="submit">S'inscrire</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
