{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <h1 class="mx-5">Liste de matchs à venir sur les 3 prochains jours en France dans la Ligue 1</h1>

    <div class="row matchsList">
        {% if matches.error is not defined %}
            {% if not matches %}
                <p class="mx-5">Il n'y a pas de match sur les 3 jours à venir.</p>
            {% else %}
                {% for matcheItem in matches %}
                    <div class="matchsItem">
                        <div class="matchsItem__header">
                            <span class="mr-3">{{ matcheItem.country_name ~ ' - ' ~ matcheItem.league_name }}</span>
                            <span class="mr-3">{{ matcheItem.match_date|date('d/m/Y') ~ ' - ' ~ matcheItem.match_time }}</span>
                            {% if matcheItem.match_status != "" %}
                                <span class="mr-3">{{ "Statut : " ~ matcheItem.match_status }}</span>
                            {% endif %}
                            {% if matcheItem.match_hometeam_score == "" %}
                                <span>{{ matcheItem.match_hometeam_name ~ ' 0' }}</span>
                            {% else %}
                                <span>{{ matcheItem.match_hometeam_name ~ ' ' ~ matcheItem.match_hometeam_score }}</span>
                            {% endif %}
                            {% if matcheItem.match_awayteam_score == "" %}
                                <span>{{ '- 0 ' ~ matcheItem.match_awayteam_name }}</span>
                            {% else %}
                                <span>{{ '- ' ~ matcheItem.match_awayteam_score ~ ' ' ~ matcheItem.match_awayteam_name }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <p class="mx-5">Il n'y a pas de match sur les 3 jours à venir.</p>
        {% endif %}
    </div>

{% endblock %}
