{% extends 'base.html.twig' %}

{% block title %}Création de visuel{% endblock %}

{% block body %}
    <div class="container my-5">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.photo) }}
            </div>
            <div class="form-group">
                {{ form_row(form.submit) }}
            </div>
        {{ form_end(form) }}
        {% if status == 'not a picture' %}
            <div class="text-center">
                <p>Ceci n'est pas une image</p>
            </div>
        {% endif %}
        {% if photo %}
            <div class="text-center">
                <p>Vous avez mis cette photo en ligne :</p>
                <img class="photoSubmitted" src="{{ photo }}" alt="Photo upload" />
            </div>
        {% endif %}
    </div>
{% endblock %}